<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<main>
  <!-- <h1>welcome</h1> -->
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<app-navbar></app-navbar>

<!-- Route content will appear here -->
<router-outlet></router-outlet>

<app-footer></app-footer>
<app-chatbot></app-chatbot>

<!-- Conditional rendering -->
<!-- <ng-container *ngIf="!isAuthPage">
  <app-navbar></app-navbar>
</ng-container>

 Route content will appear here -->
<!-- <router-outlet></router-outlet> -->

<!-- <ng-container *ngIf="!isAuthPage"> -->
<!-- <app-footer></app-footer> -->
<!-- <app-chatbot></app-chatbot> -->
<!-- </ng-container> -->